page-login {
  background: white;
  h1 {
    text-align: center;
  }
  img {
    display: block;
    margin: auto;
    padding-top: 20%;
  }
  .list > .item.item-block {
    padding-left: 0;
  }
  .list-ios >
  .item-ios:first-child {
    border-top: none;
  }
  .item-ios:last-child {
    border-bottom: none;
  }
}
